{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="card shadow-sm border-bottom-primary">
    <div class="card-header bg-white py-3">
        <div class="row">
            <div class="col">
                <h4 class="h5 align-middle m-0 font-weight-bold text-primary">
                    Riwayat Data Barang Keluar
                </h4>
            </div>
            <div class="col-auto">
                <a href="{% url 'barangkeluar_add' %}" class="btn btn-sm btn-primary btn-icon-split">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span class="text">
                        Input Barang Keluar
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped w-100 dt-responsive nowrap" id="dataTable">
            <thead>
                <tr>
                    <th>No. </th>
                    <th>No Transaksi</th>
                    <th>Tanggal Keluar</th>
                    <th>Nama Barang</th>
                    <th>Jumlah Keluar</th>
                    <th>User</th>
                    <th>Hapus</th>
                </tr>
            </thead>
            <tbody>
                {% for bk in barangkeluar %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ bk.id_barang_keluar }}</td>
                        <td>{{ bk.tanggal_keluar }}</td>
                        <td>{{ bk.nama_barang }}</td>
                        <td>{{ bk.jumlah_keluar }} {{ bk.nama_satuan }}</td>
                        <td>{{ bk.nama }}</td>
                        <td>
                            <a onclick="return confirm('Yakin ingin hapus?')" href="{% url 'barangkeluar_delete' bk.id_barang_keluar %}" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">
                            Data Kosong
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
