{% load static %}
<!--<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar"> -->
    <ul class="nav menu list-unstyled">
        <li class="active"><a href="#"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <!-- Pengadaan Barang -->
      
        <!-- End Pengadaan Barang -->
        <li><a href="{% url 'tavg_forecas' %}"><svg class="glyph stroked cloud"><use xlink:href="#stroked-cloud"></use></svg> Prediksi Suhu </a></li>
        <li><a href="{% url 'rhavg_forecast' %}"><svg class="glyph stroked cloud"><use xlink:href="#stroked-cloud"></use></svg> Prediksi Kelembaban </a></li>
        <li><a href="{% url 'ffavg_forecast' %}"><svg class="glyph stroked cloud"><use xlink:href="#stroked-cloud"></use></svg> Prediksi Kecepatan Angin </a></li>
       
    </ul>
<!--</div>--> <!--/.sidebar-->
