<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm border-bottom-primary">
            <div class="card-header bg-white py-3">
                <div class="row">
                    <div class="col">
                        <h4 class="h5 align-middle m-0 font-weight-bold text-primary">
                            Form Edit Barang
                        </h4>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'barang_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
                            <span class="icon">
                                <i class="fa fa-arrow-left"></i>
                            </span>
                            <span class="text">
                                Kembali
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <form method="post" action="">
                    {% csrf_token %}
                    
                    <div class="row form-group">
                        <label class="col-md-3 text-md-right" for="nama_barang">Nama Barang</label>
                        <div class="col-md-9">
                            <input value="{{ form.nama_barang.value }}" name="nama_barang" id="nama_barang" type="text" class="form-control" placeholder="Nama Barang...">
                            {% if form.nama_barang.errors %}
                                <small class="text-danger">{{ form.nama_barang.errors }}</small>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-md-3 text-md-right" for="jenis_id">Jenis Barang</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <select name="jenis_id" id="jenis_id" class="custom-select">
                                    <option value="" selected disabled>Pilih Jenis Barang</option>
                                    {% for j in jenis %}
                                        <option {% if form.jenis_id.value == j.id_jenis %} selected {% endif %} value="{{ j.id_jenis }}">{{ j.nama_jenis }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <a class="btn btn-primary" href="{% url 'jenis_add' %}"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                            {% if form.jenis_id.errors %}
                                <small class="text-danger">{{ form.jenis_id.errors }}</small>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-md-3 text-md-right" for="satuan_id">Satuan Barang</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <select name="satuan_id" id="satuan_id" class="custom-select">
                                    <option value="" selected disabled>Pilih Satuan Barang</option>
                                    {% for s in satuan %}
                                        <option {% if form.satuan_id.value == s.id_satuan %} selected {% endif %} value="{{ s.id_satuan }}">{{ s.nama_satuan }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <a class="btn btn-primary" href="{% url 'satuan_add' %}"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                            {% if form.satuan_id.errors %}
                                <small class="text-danger">{{ form.satuan_id.errors }}</small>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-9 offset-md-3">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
